.micon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon_eye{        
    .micon;
    background-image: url(../images/icon/eye.png);
}
.icon_del{        
    .micon;
    background-image: url(../images/icon/del.png);
}
.icon_edit{        
    .micon;
    background-image: url(../images/icon/edit.png);
}


.icon_circle_right{
    .micon;
    width: 18px;
    height: 18px;
    background-image: url(../images/icon/circle_right.png);
}